<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Header fragment starts here -->
<head>
<title>Forgot your Password?</title>
</head>
<head th:replace="fragments/header-includes :: headerFragment"></head>
<!-- Header fragment ends here -->
<body class="">
<!-- container section starts here -->
<div class="login-container">
  <div id="content" class="contentContainer forgotpassContainer">
    <div class="logo-header-section"><img src="/acquirer/resources/images/Quisk-logo.png" class="quisk-logo" alt="Quisk" />
	  <h2 class="page-heading">Forgot Your Password?</h2>
	 </div>
		<!--Start of Error message-->
		<div class="notifications error-msg-h" id="notifications" tabindex="-1">
			<p role="alert" class="notification notification-critical" id="validation_error_messages" th:text="${forgotPasswordFailure}" th:unless="${forgotPasswordFailure == null}"></p>
			<p role="alert" class="notification notification-critical" id="validation_error_messages" th:if="${forgotPasswordFailure == null}" style="display:none;"></p>
			<p role="alert" class="notification notification-success" id="validation_success_message" th:text="${forgotPasswordSucess}" th:unless="${forgotPasswordSucess == null}"></p>
		</div>
		<!--End of error message-->
		
		<!-- Form body for forgot password starts here -->
		<form class="form-horizontal" id="forgotPasswordFormId" th:action="@{confirmEmail}" method="post" th:if="${forgotPasswordSucess == null}">
			<input type="hidden" id="emailAddressRequired" name="emailAddressRequired" th:value="#{forgotpassword.email.required}" />
			<input type="hidden" id="emailAddressNotValid" name="emailAddressNotValid" th:value="#{forgotpassword.email.invalid}"/>
			<div class="form-group">
				<label for="exampleInputUserName1">Enter Your Email Address:</label> 
				<input type="text" class="form-control" id="adminEmailId" name="adminEmail" placeholder="Email Address" />
			</div>
			<div class="row forgot-form-actins-section">
					<!-- <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#forgotpasswordmodal" data-whatever="@mdo">Submit</button> -->
					<input type="submit" class="btn btn-primary" value="Submit" />
					<a aria-expanded="true" class="" href="login">
						<button class="btn btn-default" type="button">Cancel</button>
					</a>
			</div>
		</form>
		<!-- Form body for forgot password ends here -->
	</div>
	
	<!--/.container-->

	<!-- Modal -->
	<div style="display: none;" class="modal fade" id="forgotpasswordmodal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-label="Close" data-dismiss="modal" class="close" type="button">
						<span aria-hidden="true">×</span>
					</button>
					<h4 id="myModalLabel" class="modal-title">Temporary Password Sent</h4>
				</div>
				<div class="modal-body">
					<p>
						A temporary password has been sent to the e-mail address on file for your account.<br></br> 
						If you continue to experience problems, please contact your service representative.
					</p>
				</div>
				<div class="modal-footer">
					<div class="btn btn-primary" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">OK</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer part starts here -->
	 <div th:replace="fragments/footer :: footer"></div>
	 <script src="../../../resources/js/disabled-features.js" th:src="@{/resources/js/disabled-features.js}"></script>
	 <script src="../../../resources/js/forgotpassword.js" th:src="@{/resources/js/forgotpassword.js}"></script>
</body>
</html>