<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Header fragment starts here -->
<head>
<title>Password Recovery</title>
</head>
<head th:replace="fragments/header-includes :: headerFragment"></head>
<!-- Header fragment ends here -->
<body>
<div class="login-container">
<!-- container section starts here -->
 <div id="content" class="contentContainer forgotpassContainer">
     <div class="logo-header-section"><img src="/acquirer/resources/images/Quisk-logo.png" class="quisk-logo" alt="Quisk" />
     <span th:if="${pageTitle!= null and pageTitle!=''}">
     	<h2  th:text="${pageTitle}" class="page-heading"></h2>
     </span>
     <span th:unless="${pageTitle!= null and pageTitle!=''}">
     	<h2 class="page-heading">Password Recovery</h2>
     </span>
	 </div>
		
		<!--Start of Error message-->
		<div class="notifications password-recovery-msg" id="notifications" tabindex="-1">
			<p role="alert" class="notification notification-success" th:if="${changePasswordFailure == null}" id="default_message" th:text="#{recoverpassword.default.message}" ></p>
			<p role="alert" class="notification notification-critical" id="validation_error_messages_server"  th:text="${changePasswordFailure}" th:unless="${changePasswordFailure == null}"></p>
			<p role="alert" class="notification notification-critical" id="validation_error_messages"  style="display: none;"></p>
		</div>
		<!--End of error message-->

		<!-- Form body for password recovery starts here -->
		<form name ="changepasswordForm" id="changepasswordFormId" class="form-horizontal" th:action="@{changepassword}" method="post">
			<input type="hidden" id="tempPasswordRequired" name="tempPasswordRequired" th:value="#{recoverpassword.temp.password.required}"/>
			<input type="hidden" id="newPasswordRequired" name="newPasswordRequired" th:value="#{recoverpassword.new.password.required}"/>
			<input type="hidden" id="newPasswordInvalid" name="newPasswordInvalid" th:value="#{recoverpassword.new.password.invalidformat}"/>
			<input type="hidden" id="newtempPasswordMatch" name="newtempPasswordMatch" th:value="#{recoverpassword.new.temp.same}"/>
			<input type="hidden" id="confirmPasswordRequired" name="confirmPasswordRequired" th:value="#{recoverpassword.confirm.password.required}"/>
			<input type="hidden" id="newconfirmPasswordNoMatch" name="newconfirmPasswordNoMatch" th:value="#{recoverpassword.new.confirm.nomatch}"/>
			<input type="hidden" id="recoveryPasswordEmailFailedMsg" name="recoveryPasswordEmailFailedMsg" th:value="#{recoverpassword.email.failed.msg}"/>
			
			
			<div class="form-group">
				<div class="col-md-5"><label for="exampleInputUserName1">Your Email Address:</label></div>
				<div class="col-md-7" th:text="${adminEmail}"></div>
			</div>
			<div class="form-group">
				<label for="exampleInputUserName1">Enter Temporary Password:
				</label> 
				<input type="password" placeholder="Temporary Password" name ="tempPassword" id="tempPasswordId" class="form-control" maxlength="12" AUTOCOMPLETE="OFF"/>
				<input type="hidden" name ="adminEmail" th:value="${adminEmail}" id="adminEmail" />
			</div>
			<div class="form-group">
				<label for="exampleInputUserName1">Enter New Password:
				</label> 
				<input type="password" class="form-control" name="newPassword" id="newPasswordId" placeholder="New Password" maxlength="12" AUTOCOMPLETE="OFF" />
				<span class="help-text">Passwords must have 8-12 characters; must have at least one number, one lowercase, one capital and one special character.</span>
			</div>
			<div class="form-group">
				<label for="exampleInputUserName1">Confirm New Password:
				</label>
				<input type="password" class="form-control" id="confirmPasswordId" placeholder="Confirm New Password" AUTOCOMPLETE="OFF" maxlength="12"/>
			</div>
			<div class="row forgot-form-actins-section">
					<input type="submit" class="btn btn-primary" value="Submit" /> 
					<a href="login"><button type="button" class="btn btn-default">Cancel</button></a> 
			</div>
		</form>
		<!-- Form body for password recovery starts here -->
	</div><!--/.container-->
<!-- Footer part starts here -->
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="../../../resources/js/disabled-features.js" th:src="@{/resources/js/disabled-features.js}"></script>
<script src="../../../resources/js/forgotpassword.js" th:src="@{/resources/js/forgotpassword.js}"></script>
</body>
</html>