<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Header fragment starts here -->
<head>
<title>Reset your Password?</title>
</head>
<head th:replace="fragments/header-includes :: headerFragment"></head>
<!-- Header fragment ends here -->
<body>
<!-- container section starts here -->
<div class="login-container">
 <div id="content" class="contentContainer forgotpassContainer">
     <div class="logo-header-section"><img src="/acquirer/resources/images/Quisk-logo.png" class="quisk-logo" alt="Quisk" />
     	<h2 class="page-heading">Reset your Password</h2>
	 </div>
		<!--Start of Error message-->
		<div class="notifications password-recovery-msg" id="notifications" tabindex="-1">
			<span th:if="${passwordExpired == true}" >
				<p role="alert" class="notification notification-critical" th:if="${resetPasswordFailure == null}" id="default_message" th:text="#{password.expired.message}" ></p>
			</span>
			<span th:if="${passwordExpired != true }" >
				<p role="alert" class="notification notification-critical" th:if="${resetPasswordFailure == null}" id="default_message" th:text="#{password.about.to.expire.message}" ></p>
			</span>
			<p role="alert" class="notification notification-critical" id="validation_error_messages_server"  th:text="${resetPasswordFailure}" th:unless="${resetPasswordFailure == null}"></p>
			<p role="alert" class="notification notification-critical" id="validation_error_messages"  style="display: none;"></p>
		</div>
		<!--End of error message-->

		<!-- Form body for password recovery starts here -->
		<form class="form-horizontal" id="resetPasswordFormId" th:action="@{resetpassword}" method="post">
			<input type="hidden" id="currentPasswordRequired" name="currentPasswordRequired" th:value="#{password.expired.current.password.required}"/>
			<input type="hidden" id="newPasswordRequired" name="newPasswordRequired" th:value="#{recoverpassword.new.password.required}"/>
			<input type="hidden" id="newPasswordInvalid" name="newPasswordInvalid" th:value="#{recoverpassword.new.password.invalidformat}"/>
			<input type="hidden" id="currentnewPasswordMatch" name="currentnewPasswordMatch" th:value="#{password.expired.new.current.same}"/>
			<input type="hidden" id="confirmPasswordRequired" name="confirmPasswordRequired" th:value="#{recoverpassword.confirm.password.required}"/>
			<input type="hidden" id="newconfirmPasswordNoMatch" name="newconfirmPasswordNoMatch" th:value="#{recoverpassword.new.confirm.nomatch}"/>
			<input type="hidden" id="passwordExpiryRequiredFields" name="passwordExpiryRequiredFields" th:value="#{password.expired.required.fields}"/>
			<input type="hidden" name ="adminEmail" th:value="${adminEmail}" id="adminEmail" />
			<div class="form-group">
				<label for="exampleInputUserName1">Current Password:
				</label> 
				<input type="password" class="form-control" name ="tempPassword" id="tempPasswordId"
					placeholder="Current Password" maxlength="12" AUTOCOMPLETE="OFF"/>
			</div>
			<div class="form-group">
				<label for="exampleInputUserName1">New Password:
				</label> 
				<input type="password" class="form-control" name="newPassword" id="newPasswordId"
					placeholder="New Password" maxlength="12" AUTOCOMPLETE="OFF"/>
				<span class="help-text">Passwords must have 8-12 characters; must have at least one number, one lowercase, one capital and one special character.</span>
			</div>
			<div class="form-group">
				<label for="exampleInputUserName1">Confirm New Password:
				</label>
				<input type="password" class="form-control" id="confirmPasswordId"
					placeholder="Confirm New Password" maxlength="12" AUTOCOMPLETE="OFF"/>
			</div>
			<div class="row forgot-form-actins-section">
					<input type="submit" class="btn btn-primary" value="Submit" /> 
					<span th:if="${fromHomePage != '' and fromHomePage == true}">
						<a aria-expanded="true" class="" href="home">
						<button class="btn btn-default" type="button">Cancel</button>
					</a>
					</span>
					<span th:unless="${fromHomePage != '' and fromHomePage == true}">
						<a aria-expanded="true" class="" href="login">
							<button class="btn btn-default" type="button">Cancel</button>
						</a>
					</span>
			</div>
		</form>
		<!-- Form body for password recovery starts here -->
	</div><!--/.container-->
	</div>
<!-- Footer part starts here -->
<div th:replace="fragments/footer :: footer"></div>
<script src="../../../resources/js/disabled-features.js" th:src="@{/resources/js/disabled-features.js}"></script>
<script src="../../../resources/js/forgotpassword.js" th:src="@{/resources/js/forgotpassword.js}"></script>
</body>
</html>