<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Header fragment starts here -->
<head th:replace="fragments/header-includes :: headerFragment"></head>
<!-- Header fragment ends here -->
	<body id="quiskResponsive">
	<!-- container section starts here -->
		<div class="container" id="main">
	<!-- navigation section starts here -->
		<nav th:replace="fragments/header-menu :: navFragment"></nav>
	<!-- navigation section starts here -->
		<!--  Display the password expiry notification here -->
		<div class="row page-marg-top" tabindex="-1">
			<div class="password-expire-msg">
				<p role="alert" class="notification notification-success" th:if="${timeFrame > 1}" th:text="#{password.expired.reminder.message(${timeFrame})}" ></p>
				<p role="alert" class="notification notification-success" th:if="${timeFrame == 0}" th:text="#{password.expired.today.reminder.message}" ></p>
				<p role="alert" class="notification notification-success" th:if="${timeFrame == 1}" th:text="#{password.expires.oneday.reminder.message(${timeFrame})}" ></p>
				<a href="passwordExpiry">Yes</a> 
				<a href="home">No</a>
			</div>
		</div>
	</div>
<!-- /.container-fluid -->
	<!-- Footer part starts here -->
	<div th:replace="fragments/footer :: footer"></div>
	<script src="../../../resources/js/disabled-features.js" th:src="@{/resources/js/disabled-features.js}"></script>
	<script src="../../../resources/js/home.js" th:src="@{/resources/js/home.js}"></script>
  </body>
</html>
