<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Header fragment starts here -->
<head>
<title>Store </title>
</head>
<head th:replace="fragments/header-includes :: headerFragment"></head>
<!-- Header fragment ends here -->
<body id="quiskResponsive">
<div class="min-height" id="main">
<!-- Collect the Header-menu nav links, forms, and other -->
		<nav th:replace="fragments/header-menu :: navFragment"></nav>
<!-- /.navbar-collapse -->
		<!--start of Merchant Profile Summary navbar-->
		<div th:replace="fragments/merchant-summary-profile-top-section :: merchantProfileFragment"></div>
		<!--start of Merchant Profile Summary navbar collapse -->
		<!--  Left-menu links -->
	<div  class="row ah-prof-container">
		<div class="quisk-left-container">
			<nav th:replace="fragments/merchant-summary-profile-menu :: merchantProfileMenuFragment"></nav>
		</div>
		
		<!--  Left-menu links collapse-->
		<div class="quisk-right-container">
		<div class="container quisk-container">
		<div class="panel panel-default">
		<div class="panel-heading">Store List 
			<span th:unless="${#authorization.expression('hasAnyRole(T(co.quisk.ap.support.model.enums.EnumAccessType).QUISK_ACCESS.name,T(co.quisk.ap.support.model.enums.EnumAccessType).NETWORK_ACCESS.name)')}">
				<a href="addStore" type="button" class="btn btn-default btn-sm pull-right"> Add Store </a>
			</span>
			<span sec:authorize="hasAnyRole(T(co.quisk.ap.support.model.enums.EnumAccessType).QUISK_ACCESS.name,T(co.quisk.ap.support.model.enums.EnumAccessType).NETWORK_ACCESS.name)">
				<a href="addStore" type="button" class="btn btn-default btn-sm pull-right dc" disabled="disabled"> Add Store </a>
			</span>
		</div>
		<div class="panel-body">
		<div class="col-md-12 col-sm-12">
			
			<table cellspacing="0" cellpadding="0" border="0"
					id="storeListTable" class="display dataTable no-footer"
					role="grid" aria-describedby="example_info">
				<thead>
					<tr role="row">
						<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" 
							colspan="1" aria-label="Browser: activate to sort column descending">Store ID</th>
						<th class="sorting_asc " tabindex="0" aria-controls="example"
							rowspan="1" colspan="1"	aria-label="Engine: activate to sort column ascending"
							aria-sort="ascending">Store Name</th>
						<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
							aria-label="Platform: activate to sort column ascending">Status</th>
					</tr>
				</thead>                          
					<tbody>
						<tr class="odd" role="row"
							th:each="store,iterationStatus : ${merchantStoreList}"
							th:unless="${merchantStoreList == null}">
							<td id="storeDetailsTd" ><a th:value="${iterationStatus.count}" th:text="${store.fiStoreId}" href="javascript: void(0)"></a>
							<div style="display: none;">
								<form th:action="@{storeDetails}" method="POST" th:id="'storeDetailForm' + ${iterationStatus.count}" >
									<input type="hidden" th:name="storeId" th:value="${store.storeId}"/>
									<input type="submit" value="" />
								</form>
							</div>
							</td>
							<td th:text="${store.storeName}"></td>
							<td th:text="${store.status}"></td>
						</tr> 
					</tbody>
				</table>
		</div>
		</div>
		</div>
				<div class="col-md-12 col-sm-12">
					<nav class="search-btns">
						<ul class="pager">
							<li class="previous"><a href="backtoMerchantSearch"><span
									aria-hidden="true"></span> Back to Search Results</a></li>
							<li class="next"><a href="merchantSearch">New
									Search <span aria-hidden="true"></span>
							</a></li>
						</ul>
					</nav>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${SuccessMessage != null || DeleteSuccessMessage!=null}"> 
			<div style="display: block;" class="modal fade in" 
				tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" >
							<h4 id="myModalLabel" class="modal-title" th:if="${SuccessMessage != null}">Add Store</h4>
							<h4 id="myModalLabel" class="modal-title" th:if="${DeleteSuccessMessage != null}">Delete Store</h4>
						</div>
						<div class="modal-body">
							<p  class="notification notification-success" th:if="${SuccessMessage != null}" th:text="${SuccessMessage}"></p>
							<p  class="notification notification-success" th:if="${DeleteSuccessMessage != null}" th:text="${DeleteSuccessMessage}"></p>
						</div>
						<div class="modal-footer">
						<a class="btn btn-primary" href="merchantStoreList">OK</a>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-backdrop fade in"></div>
			</div>
			<div th:if="${ErrorMessage != null || DeleteErrorMessage!=null}"> 
			<div style="display: block;" class="modal fade in" 
				tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 id="myModalLabel" class="modal-title" th:if="${ErrorMessage != null}">Add Store</h4>
							<h4 id="myModalLabel" class="modal-title" th:if="${DeleteErrorMessage != null}">Delete Store</h4>
						</div>
						<div class="modal-body">
							<p  class="notification generic-error-msg" th:if="${ErrorMessage != null}" th:text="${ErrorMessage}"></p>
							<p  class="notification generic-error-msg" th:if="${DeleteErrorMessage != null}" th:text="${DeleteErrorMessage}"></p>
						</div>
						<div class="modal-footer">
						<a class="btn btn-primary" href="merchantStoreList">OK</a>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-backdrop fade in"></div>
			</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="../../../resources/js/store-list.js" th:src="@{/resources/js/store-list.js}"></script>
<script src="../../../resources/js/disabled-features.js" th:src="@{/resources/js/disabled-features.js}"></script>
</body>
</html>