
    <head id="headerFragment" th:fragment="headerFragment">
        <title>Quisk Portal</title>
        <style id="antiClickjack">body{display:none !important;}</style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<!-- <link href="../../../resources/images/favicon.ico" rel="icon" media="screen" th:href="@{/resources/images/favicon.ico}"/>
        <link href="../../../resources/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}" />
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <link href="../../../resources/css/sticky-footer-navbar.css" rel="stylesheet" media="screen" th:href="@{/resources/css/sticky-footer-navbar.css}" />
        <link href="../../../resources/css/body-background.css" rel="stylesheet" media="screen" th:href="@{/resources/css/body-background.css}" />
        <link href="../../../resources/css/loginpage.css" rel="stylesheet" media="screen" th:href="@{/resources/css/loginpage.css}"/>
        <link href="../../../resources/css/columns-rows.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/columns-rows.css}" />
        <link type="text/css" rel="stylesheet" href="../../../resources/css/panels.css" th:href="@{/resources/css/panels.css}" />
		<link type="text/css" rel="stylesheet" href="../../../resources/css/quisk-newap.css" th:href="@{/resources/css/quisk-newap.css}" />
		<link href="../../../resources/css/footer-bottom.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/footer-bottom.css}" />
		<link href="../../../resources/css/jquery.dataTables.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.dataTables.css}" />
		<link href="../../../resources/css/main-table.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/main-table.css}" />
		<link href="../../../resources/css/footer.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/footer.css}" />
		<link href="../../../resources/css/body-bckgrnd.css" rel="stylesheet" media="screen" th:href="@{/resources/css/body-bckgrnd.css}" />
		<link href="../../../resources/css/homepage.css" rel="stylesheet" media="screen" th:href="@{/resources/css/homepage.css}" />
		<link href="../../../resources/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.dataTables_themeroller.css}" />
        <link href="../../../resources/css/quisk-styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/quisk-styles.css}" />
		<link href="../../../resources/css/modal.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/modal.css}" />
		<link href="../../../resources/css/left-nav.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/left-nav.css}" /> 
		<link href="../../../resources/css/affix.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/affix.css}" />
		<link href="../../../resources/css/jquery-ui.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery-ui.css}"  />
		<link href="../../../resources/css/popover.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/popover.css}" /> -->
    </head>
   