<nav class="navbar navbar-default ah-summery-prof-nav"
	id="merchantProfileFragment" th:fragment="merchantProfileFragment">
	<!-- Collect the nav links, forms, and other -->
	<div id="bs-example-navbar-collapse-1">
		
		
		<div class="menu-heading">
			<h2 class="search-page-heading" th:text="${title}" th:unless="${title == null}">Summary Profile</h2>
		</div>
		
		<div class="profile-text-right">
		<div class="profile-detials">
			<div
				th:if="${session.adminUserData.entityTypeId} == ${T(com.mobibucks.apcommon.valueobjects.EntityTypeEnum).FI.entityTypeId}"
				class="profile-item-fullW">
				<div style="width: 50%; float: left;">
					<img width="18" height="18" alt="Phone" th:src="@{/resources/images/merchant-id-icon.png}" />
					<h5 th:text="${profileSummary.fiMerchantId}" th:unless="${profileSummary.fiMerchantId == null}" id="profileFiMerchantId"></h5>
					
				</div>
				<div style="width: 50%; float: left;">
					<img class="pro-img" width="17" height="18" alt="Person" th:src="@{/resources/images/person.png}"/>
					<h5 th:text="${profileSummary.merchantName}" th:unless="${profileSummary.merchantName == null}" id="profileMerchantName"></h5>
				</div>
				
			</div>
			<div
				th:unless="${session.adminUserData.entityTypeId} == ${T(com.mobibucks.apcommon.valueobjects.EntityTypeEnum).FI.entityTypeId}">
				<div class="profile-item">
					<img width="18" height="18" alt="Phone"
						th:src="@{/resources/images/merchant-id-icon.png}" />
					<h5 th:text="${profileSummary.fiMerchantId}" th:unless="${profileSummary.fiMerchantId == null}" id="profileFiMerchantId"></h5>
				</div>
				<div class="profile-item3 profile-item">
					<img class="pro-img" width="17" height="18" alt="Person"
						th:src="@{/resources/images/person.png}" />
					<h5 th:text="${profileSummary.merchantName}" th:unless="${profileSummary.merchantName == null}" id="profileMerchantName"></h5>
				</div>
				<div
					th:if="${session.adminUserData.entityTypeId} == ${T(com.mobibucks.apcommon.valueobjects.EntityTypeEnum).QUISK.entityTypeId}"
					class="profile-item2 profile-item">
					<div class="profile-sub-item"><h5>FI Network:</h5>&nbsp;<h5 th:text="${fiNetworkName}" th:unless="${fiNetworkName == null}"></h5></div>
					<div class="profile-sub-item"><h5>FI:</h5>&nbsp;<h5 th:text="${fiName}" th:unless="${fiName == null}">FI</h5></div>
				</div>
				<div
					th:if="${session.adminUserData.entityTypeId} == ${T(com.mobibucks.apcommon.valueobjects.EntityTypeEnum).FI_NETWORK.entityTypeId}"
					class="profile-item2 profile-item">
					<div><h5>FI:</h5>&nbsp;<h5 th:text="${fiName}" th:unless="${fiName == null}">FI</h5></div>
				</div>
			</div>
			
		</div>
		</div>
	</div>

</nav>
